:root{
    --accent: #15C0B6;
    --bg-main:#008A81;
    --bg-secondary:#DEEEEB;
    --bg-tint:#ECFDFC;
    --text-header-gray:#575757;
    --text-light-gray:#727272;
    --bg-footer-black:#282828;
    --footer-border: #535353;
    --text-footer-light: #D9D9D9;
}